<div class="button-container">
    <button (ngSubmit)="filterMovies('Action')">Action</button>
    <button (ngSubmit)="filterMovies('Comedy')">Comedy</button>
    <button (ngSubmit)="filterMovies('Crime')">Crime</button>
    <button (ngSubmit)="filterMovies('Thriller')">Thriller</button>
</div>
<div class="card-container">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3" *ngFor="let s of trendingMovieResult">
        <div class="card skeleton">
            <img class="image" [src]="s.image">
        </div>
        <div class="col-lg-9 mt-4 mb-4">
            <h5 class="card-title">{{s.title}}</h5>
        </div>
    </div>
</div>